@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orelega+One&display=swap');

@layer base{
  *{
    @apply font-body p-0 m-0;

    color: var(--text)
  }

  input{
    @apply focus:outline-none;
  }

  li {
    @apply list-none;
  }

  section{
    @apply flex flex-col gap-8;
  }

  main{
    @apply flex flex-col bg-background;
  }

  body{
    @apply bg-background;
  }
}

#root{
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}


nav {
  position: sticky;
  top: 0;

  width: 100vw;
  display: grid;
  grid-template-columns: min-content minmax(70%, max-content) min-content;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  
  font-size: 1.2em;

  padding: 6px 1.5em 6px 1em;

  background-color: var(--secondary);
}

nav > * {
  display: flex;
  align-items: center;
}
