@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orelega+One&display=swap');

@layer base{
  *{
    @apply font-body p-0 m-0;

    color: var(--text)
  }

  input{
    @apply focus:outline-none;
  }

  li {
    @apply list-none;
  }
}


nav {
  position: sticky;
  top: 0;

  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  justify-content: space-between;
  
  font-size: 1.2em;

  padding: 6px 1.5em 6px 1em;

  background-color: var(--secondary);
}

nav > * {
  display: flex;
  align-items: center;
}

footer{
  background-color: var(--secondary);
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 6em 1.5em 4em;
}